@import "normalize.scss";

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
#list {
  margin: 30px 20px 20px 20px;
  background-color: #34495e;
  font-family: Arial;
  text-align: center;
  color: #ecf0f1;
  padding: 5px;
  font-size: 18px;
  border-bottom: 5px solid #2c3e50;
  cursor: pointer;
}

#btn {
  background-color: #34495e;
  font-family: Arial;
  text-align: center;
  color: #ecf0f1;
  padding: 5px;
  height: 40px;
  width: 120px;
  margin: 20px 10px 0 40px;
  font-size: 18px;
  border-bottom: 5px solid #2c3e50;
}

table {
  width: auto;
  margin: 20px;
  padding: 5px;
  background-color: #34495e;
  color: #fff;
  border-spacing: 5px;
}

th {
  padding: 3px 6px 5px 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: #34495e;
  border-bottom: 1px solid #ffff;
  border-right: 2px solid #fff;
  color: #fff;
}

tr,
td {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: none;
  padding: 10px;
  color: #fff;

  input {
    font-weight: 600;
    font-size: 18px;
    padding: 5px 5px 5px 10px;
    width: 100px;
    height: 15px;
    background-color: #000;
    color: #fff;
  }
}

#main {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.clearBtn {
  padding: 3px;
  color: #000;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.links {
  &__theory {
    & a {
    }
  }
  &__formulas {
    & a {
    }
  }
}
