.container-button {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 230px 230px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  &__control {
    position: relative;
  }
}
.btn-control {
  width: 100%;
  font-size: $fontSizeNormal;
  font-family: $fontFamali;
  font-weight: 700;
  color: $colorWhile;
  background-color: $colorButton;
  border-radius: $borderRadius;
  padding: 7px 10px;
  &__arrow {
    &::after {
      content: "";
      display: inline-grid;
      border: 4px solid transparent;
      border-left: 4px solid #fff;
      border-bottom: 4px solid #fff;
      transform: rotate(-45deg);
      vertical-align: 8px;
      margin-left: 10px;
    }
  }
  &__menu {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    display: block;
    white-space: nowrap;
    background-color: $colorWhile;
    border-radius: $borderRadius;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 7px 0;
    &-item {
      color: $colorBlack;
      font-family: $fontFamali;
      font-size: $fontSizeNormal;
      background-color: transparent;
      transition: 0.2s all;
      display: block;
      padding: 5px 10px;
      position: relative;
      &:hover {
        background-color: #e7e7e7;
      }
    }
  }
}
.ready-table {
  color: $colorBlack;
  font-family: $fontFamali;
  font-size: $fontSizeNormal;
  background-color: transparent;
  transition: 0.2s all;
  display: block;
  padding: 5px 10px;
  position: relative;
  &:hover {
    background-color: #e7e7e7;
  }
}
.show {
  display: none;
}
.strike {
  cursor: default;
  pointer-events: none;
  text-decoration: line-through;
}
