$fontFamali: Arial;
$fontSizeNormal: 16px;
$fontSizeMini: 12px;
$fontSizeBig: 20px;
$colorWhile: #fff;
$colorTextWhile: #fff;
$colorBlack: #252525;
$colorButton: #1266C9;
$colorBackgroundHeader: #1266C9;
$tableBodyColor: 6px solid #1266C9;
$tableHeaderColor: #1266C9;
$colorError: #ff4040;
$borderColorError: 2px solid #ff0000;
$borderRadius: 5px;
$boxShadow: 6px 4px 6px 2px rgba(0, 0, 0, 0.6);
