@import "./normalize.scss";
@import "./checkbox.scss";
@import "./Header/nav.scss";
@import "./Header/burger.scss";
@import "./Main/Calculator/blockButton/blockButton.scss";
@import "./Main/Calculator/table/table.scss";
@import "./Main/Calculator/error/windowErorr.scss";
body::-webkit-scrollbar {
  width: 8px; /* ширина scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: $colorBackgroundHeader; /* цвет плашки */
}
.table {
  position: relative;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.choice {
  margin: 30px 0;
}
.main {
  padding-top: 30px;
  &-container {
    min-height: 100%;
    padding-bottom: 50px;
  }
}
.container-calculations {
  display: flex;
  flex-direction: column;
  font-size: $fontSizeBig;
  font-family: $fontFamali;
  margin: 5px 10px;
}
.chart {
  display: flex;
  justify-content: center;
}
@media (max-width: 825px) {
  .container-calculations {
    justify-content: center;
  }
}
